extends ./layout/index.pug

block slider
    div(class="slider")
        h1 Rio de Janeiro
        em Aventura

block contenido
    main(class="container mt-5")
        h2(class="text-center mb-5") Sobre Nosotros
        div(class="row mb-5")
            div(class="col-md-6")
                p Somos una agencia de viajes especializada en crear experiencias únicas y personalizadas para nuestros clientes. Con años de experiencia en el sector, nuestro equipo de expertos en viajes se compromete a ofrecer un servicio de alta calidad y atención al detalle. Nuestra pasión por los viajes nos inspira a diseñar itinerarios innovadores y emocionantes.
                p Somo tu aliado para explorar el mundo y crear recuerdos que durarán toda la vida. Contamos con un equipo de expertos en viajes que se encargan de diseñar y planificar cada detalle de tu viaje. Nuestro objetivo es brindarte una experiencia de viaje única y personalizada. Estamos comprometidos con la calidad y la satisfacción de nuestros clientes.
            div(class="col-md-6")
                img(src="/img/inicio_nosotros.jpg", alt="imagen-nosotros" class="img-fluid")
        include ./layout/block_viajes.pug
    
    div(class="descuento")
        div(class="container")
            div(class="row")
                div(class="col-md-6")
                    div(class="contenido")
                        h3 5% de Descuento
                        p(class="titulo") Viaje a Canada
                        p(class="fecha") 20 de Marzo 2024 - 28 de Marzo 2024
                        p(class="precio") $2,500 USD
    
    div(class="container")
        h2(class="mt-5 text-center") Testimonios
        include ./layout/block_testimonios.pug