extends ./layout/index.pug

block slider
    div(class="slider")
        h1 Rio de Janeiro
        em Aventura

block contenido
    main(class="container mt-5")
        h2(class="text-center mb-5") Sobre Nosotros
        div(class="row mb-5")
            div(class="col-md-6")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at enim ligula. Donec feugiat mi vel enim molestie blandit. Praesent purus nisl, gravida quis congue eu, condimentum non tortor. Nunc sed dignissim sem. Donec sit amet sem sed sem scelerisque iaculis sit amet ut velit. Duis lectus nunc, finibus.
                p Aenean quis dictum leo. Phasellus a enim vitae nulla ornare iaculis aliquet eget dui. In mollis, lorem et pharetra tempus, magna nunc molestie felis, in tristique erat nibh a tortor. Nulla aliquam in tortor ac accumsan. Quisque gravida nulla vitae lacus accumsan feugiat. Ut vel eleifend nibh, id tempus nisi. In a turpis. Praesent purus nisl, gravida quis congue eu.
            div(class="col-md-6")
                img(src="/img/inicio_nosotros.jpg", alt="imagen-nosotros" class="img-fluid")
        include ./layout/block_viajes.pug
    
    div(class="descuento")
        div(class="container")
            div(class="row")
                div(class="col-md-6")
                    div(class="contenido")
                        h3 5% de Descuento
                        p(class="titulo") Viaje a Canada
                        p(class="fecha") 20 de Marzo 2024 - 28 de Marzo 2024
                        p(class="precio") $2,500 USD
    
    div(class="container")
        h2(class="mt-5 text-center") Testimonios
        include ./layout/block_testimonios.pug