extends ./layout/index.pug

block contenido
    main(class="container mt-5")
        div(class="row")
            div(class="col-md-5")
                img(src="img/nosotros.jpg", alt="imagen-nosotros", class="img-fluid")
            div(class="col-md-7")
                h1= pagina
                blockquote Somos una agencia de viajes especializada en crear experiencias únicas y personalizadas para nuestros clientes. Con años de experiencia en el sector, nuestro equipo de expertos en viajes se compromete a ofrecer un servicio de alta calidad y atención al detalle. Nuestra pasión por los viajes nos inspira a diseñar itinerarios innovadores y emocionantes. Nos enfocamos en satisfacer las necesidades y preferencias de cada cliente.
                p Nuestra agencia de viajes es tu aliado para explorar el mundo y crear recuerdos que durarán toda la vida. Contamos con un equipo de expertos en viajes que se encargan de diseñar y planificar cada detalle de tu viaje. 
                p El objetivo es brindarte una experiencia de viaje única y personalizada. Estamos comprometidos con la calidad y la satisfacción de nuestros clientes. Nuestra agencia de viajes es la opción ideal para aquellos que buscan una experiencia de viaje inolvidable.

    div(class="listado-iconos")
        div(class="container mt-5 py-5 text-center")
            div(class="row")
                div(class="col-md-4")
                    img(src="img/icono_seguridad.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2(class="mb-4") Seguridad
                    p Viaja con tranquilidad. Nuestra agencia de viajes se compromete a brindarte una experiencia de viaje segura y confiable. Contamos con proveedores de confianza y seguimos los protocolos de seguridad más estrictos para garantizar tu bienestar en todo momento.
                div(class="col-md-4")
                    img(src="img/icono_destinos.svg", alt="icono-destinos", class="img-fluid mb-4")
                    h2(class="mb-4") Mejores Destinos
                    p Descubre los mejores destinos del mundo con nuestra agencia de viajes. Ofrecemos una amplia variedad de opciones para satisfacer tus intereses y preferencias. Desde ciudades vibrantes hasta paisajes naturales impresionantes.
                div(class="col-md-4")
                    img(src="img/icono_precios.svg", alt="icono-precios", class="img-fluid mb-4")
                    h2(class="mb-4") Mejores Precios
                    p Viaja sin gastar una fortuna. Nuestra agencia de viajes se esfuerza por ofrecerte los mejores precios en el mercado. Trabajamos con proveedores de confianza para garantizar que obtengas el mejor valor por tu dinero. ¡Reserva ahora y ahorra!