extends ./layout/index.pug

block contenido
    main(class="container mt-5")
        div(class="row")
            div(class="col-md-5")
                img(src="img/nosotros.jpg", alt="imagen-nosotros", class="img-fluid")
            div(class="col-md-7")
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet ipsum metus, sed luctus nulla imperdiet eu. Nunc elementum ante magna, at pretium velit aliquam eget. Duis tempor, massa et rhoncus fermentum, metus nunc rutrum justo, at dapibus mauris felis sed nibh. Praesent mattis enim feugiat nisi hendrerit pulvinar. Integer faucibus imperdiet mauris sed blandit. Etiam euismod auctor imperdiet. Proin sodales quam a elit porta, porta egestas mauris sodales.
                p Nam eu erat imperdiet, vestibulum odio a, semper metus. Nunc porta ex commodo mauris auctor pretium. Sed pretium blandit magna eu laoreet. Phasellus sit amet euismod nulla, eu tincidunt orci. Aliquam erat volutpat. Nunc tincidunt imperdiet ante ac hendrerit. Integer vel pellentesque eros, a mollis massa. 
                p Sed aliquet scelerisque faucibus. Pellentesque vehicula placerat nisl at consequat. Donec ac consectetur enim. Nam condimentum nunc rutrum rutrum condimentum. Ut ac libero elementum, posuere tortor eget, dictum enim. Nulla ut enim vel ex accumsan fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

    div(class="listado-iconos")
        div(class="container mt-5 py-5 text-center")
            div(class="row")
                div(class="col-md-4")
                    img(src="img/icono_seguridad.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2(class="mb-4") Seguridad
                    p Sed aliquet scelerisque faucibus. Pellentesque vehicula placerat nisl at consequat. Donec ac consectetur enim. Nam condimentum nunc rutrum rutrum condimentum. Ut ac libero elementum, posuere tortor eget, dictum enim.
                div(class="col-md-4")
                    img(src="img/icono_destinos.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2(class="mb-4") Mejores Destinos
                    p Sed aliquet scelerisque faucibus. Pellentesque vehicula placerat nisl at consequat. Donec ac consectetur enim. Nam condimentum nunc rutrum rutrum condimentum. Ut ac libero elementum, posuere tortor eget, dictum enim.
                div(class="col-md-4")
                    img(src="img/icono_precios.svg", alt="icono-seguridad", class="img-fluid mb-4")
                    h2(class="mb-4") Mejores Precios
                    p Sed aliquet scelerisque faucibus. Pellentesque vehicula placerat nisl at consequat. Donec ac consectetur enim. Nam condimentum nunc rutrum rutrum condimentum. Ut ac libero elementum, posuere tortor eget, dictum enim.